@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  user-select: none;
}

:root {
  --PINK: #ff0081;
  --BLUE: #0062dc;
  --WHITE: #ffffff;
}

/* Layout */
.rootLayout {
  background: rgb(0, 98, 220);
  background: linear-gradient(
    345deg,
    rgba(0, 98, 220, 1) 0%,
    rgba(255, 0, 129, 1) 100%
  );
}
.rootLayout .container {
  width: 80%;
  max-width: 1440px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.rootLayout .container main {
  flex: 1;
}

/* Navbar */

.navbar {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.navbar .logo {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 0.2rem;
}

.navbar .logo a {
  text-decoration: none;
  color: var(--WHITE);
  font-weight: 700;
}
.navbar .navbar-links {
  display: flex;
}
.navbar .navbar-links .navbar-link {
  width: auto;
  padding: 0.5rem 1rem;
  background: black;
  color: var(--WHITE);
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Home */
.home {
  margin: 2rem 0;
  display: flex;
}
.home div {
  width: 50%;
  font-weight: 400;
  color: var(--WHITE);
}

.home .textSection h1,
p {
  margin: 1rem 0;
}

.home .imageGallery {
  width: 50%;
  height: 25rem;
  position: relative;
  overflow: hidden;
  /* padding: 0 0.5rem; */
  display: flex;
  justify-content: center;
}
.home .imageGallery .animationDiv {
  width: 33.33%;
  height: 10rem;
  align-items: center;
  animation-name: infiniteScroll;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.home .imageGallery .animationDiv div {
  width: 100%;
  height: 100%;
  min-width: 0;
}

.home .imageGallery .animationDiv div img {
  width: 100%;
  height: 100%;
}

.btn {
  width: auto;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--WHITE);
  cursor: pointer;
  background: transparent;
  font-weight: 800;
  margin: 1rem 0;
  color: var(--WHITE);
  &:hover {
    background-color: var(--WHITE);
    color: #0062dc;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--WHITE);
}

.footer .logo {
  font-weight: 800;
}
.searchDiv {
  padding: 1rem 0;
}

.searchDiv .formDiv {
  width: 50%;
  height: 3rem;
  margin: 0 auto;
}
.searchDiv .formDiv input {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  border: none;
  outline: none;
  border-radius: 5px;
}

.image-collection {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 1rem;
}

.image-collection .image-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background: var(--WHITE);
}
.image-collection .image-card .imageDiv {
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 0.8rem 1rem;
  border-radius: 5px;
}

.image-collection .image-card .imageDiv img {
  width: 100%;
  height: 20rem;
  border-radius: 5px;
}

.image-collection .image-card .image-owner-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.image-collection .image-card .image-owner-info div,
span {
  width: auto;
  height: auto;
}

.image-collection .image-card .image-owner-info .user-info {
  display: flex;
  align-items: center;
}

.image-collection .image-card .image-owner-info .user-info img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 0.3rem;
}

.image-collection .image-card .image-owner-info .image-stats {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination .pageCount {
  margin: 0 1rem;
  font-size: 1.2rem;
  color: var(--WHITE);
}

.catgories-btn {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.catgories-btn button {
  margin: 0 0.5rem;
}

.loading {
  color: var(--WHITE);
  font-size: 1.2rem;
}

/* MEDIA QUERIES */

/* @media screen and (min-width: 1440px) {
  .home .imageGallery {
    height: 33.33%;
  }
  .home .imageGallery .animationDiv {
    width: 40%;
    align-items: center;
    animation-name: infiniteScroll;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: flex;
    flex-direction: column;
    height: auto;
    position: absolute;
  }

  .home .imageGallery .animationDiv div {
    width: 100%;
  }

  .home .imageGallery .animationDiv div img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
  } 
} */

@media screen and (max-width: 1020px) and (min-width: 797px) {
  .image-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;
  }

  .image-collection .image-card .imageDiv img {
    width: 100%;
    height: 15rem;
  }
}

@media screen and (max-width: 797px) and (min-width: 460px) {
  .image-collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }

  .image-collection .image-card .imageDiv img {
    width: 100%;
    height: 20rem;
  }
}

@media screen and (max-width: 460px) {
  .image-collection {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0.5rem;
  }
  .image-collection .image-card .imageDiv img {
    width: 100%;
    height: 20rem;
  }
}

@media screen and (max-width: 768px) {
  .rootLayout .container {
    width: 90%;
  }
  .navbar .logo {
    font-size: 1.2rem;
  }

  .home {
    display: flex;
    flex-direction: column;
  }

  .home div {
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .home .imageGallery {
    width: 100%;
    height: 20rem;
  }

  .home .imageGallery .animationDiv {
    width: 33.33%;
    height: 20rem;
  }

  .home .imageGallery .animationDiv div img {
    width: 100%;
    height: auto;
  }

  .searchDiv .formDiv {
    width: 100%;
  }
}

@keyframes infiniteScroll {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
